demiurges/**/.terraform/
demiurges/**/.terraform.lock.hcl
demiurges/**/terraform.tfstate
demiurges/**/terraform.tfstate.backup
frontend/webserver/**/__pycache__/
frontend/end-game.sh
deploy/hosts
deploy/infrastructure.json
playbooks/credentials
docker-commands.txt