{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>Bootstrap Example</title>
{% endblock %}
{% block content %}
  {{ super() }}
  <div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Carica la tua prescrisione</h3>
        <p>Posto per caricare la tua prescrizione</p>
        <a class="btn btn-primary" href="/upload-prescription" role="button">Upload</a>
      </div>
      <div class="col-sm-4">
        <h3>Vedi le tue prescrizioni</h3>
        <p>Posto per vedere le tue prescrizioni</p>
        <a class="btn btn-primary" href="/list-prescriptions" role="button">Get List</a>
      </div>
      <div class="col-sm-4">
        <h3>Registrati</h3>        
        <p>Affidati alle dolci cure della tua Joy-Bot! </p>
        <a class="btn btn-primary" href="/signin" role="button">Signin</a>
      </div>
    </div>
  </div>
{% endblock %}