{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>Joy-Bot</title>
{% endblock %}
{% block content %}
  {{ super() }}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Joybot</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><form action='{{ url_for("logout")}}' method="get"><input type=submit class="btn btn-primary" value=logout></form></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Joy-Bot</h1>
    <p>❤️ Your efficient sweet caretaker ❤️</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Upload a prescription</h3>
        <p>Joy-Bot will analyze your prescriptions content to assist you with your medical matters.</p>
        <a class="btn btn-primary" href="/upload-prescription" role="button">Upload</a>
      </div>
      <div class="col-sm-4">
        <h3>See your prescriptions</h3>
        <p>You can navigate your uploaded prescriptions here</p>
        <a class="btn btn-primary" href="/list-prescriptions" role="button">Get List</a>
      </div>
      <div class="col-sm-4">
        <h3>Sign in</h3>        
        <p>Let your sweet Joy-Bot take care of you! </p>
        <a class="btn btn-primary" href="/signin" role="button">Signin</a>
      </div>
    </div>
  </div>
{% endblock %}