<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Carica la tua prescrisione</h3>
      <p>Posto per caricare la tua prescrizione</p>
      <a class="btn btn-primary" href="#" role="button">Upload</a>
    </div>
    <div class="col-sm-4">
      <h3>Vedi le tue prescrizioni</h3>
      <p>Posto per vedere le tue prescrizioni</p>
      <a class="btn btn-primary" href="#" role="button">Get List</a>
    </div>
    <div class="col-sm-4">
      <h3>Viasualizza una prescrizione</h3>        
      <p>Posto per visualizzare una prescrizione</p>
      <a class="btn btn-primary" href="#" role="button">View</a>
    </div>
  </div>
</div>

</body>
</html>